 <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="firstName">Fecha</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Categoría es Requerido.
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="firstName">Importe</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Categoría es Requerido.
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="country">Categoría</label>
                            <select class="custom-select d-block w-100" id="country" required>
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="country">Destino del pago</label>
                            <select class="custom-select d-block w-100" id="country" required>
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="firstName">Descpripción</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Categoría es Requerido.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Registrar Ingreso</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-outline-secondary btn-lg btn-block" type="submit">Ver todos los
                                Ingresos</button>
                        </div>
                    </div>
                </form>