<div class="alert alert-secondary" role="alert">
    <h4>Registro de Pagos a Tarjetas de Crédito</h4>
</div>


<form class="needs-validation" action="/transactions/saveCCPayment" method="POST" novalidate>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="firstName">Fecha</label>
            <input type="date" class="form-control" name="date" placeholder="" value="{{currentDate}}" required>
            <div class="invalid-feedback">
                Selecciona una fecha.
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="firstName">Importe</label>
            <input type="text" class="form-control" name="amount" placeholder="" value="" required>
            <div class="invalid-feedback">
                Define el importe.
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="country">Cuenta Origen</label>
            <select class="custom-select d-block w-100" name="outcomeAccount" required>

                <option value="">Seleccionar...</option>
                {{#each debitAccounts}}
                <option>{{this}}</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Selecciona una categoría.
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="country">Cuenta Destino</label>
            <select class="custom-select d-block w-100" name="incomeAccount" required>

                <option value="">Seleccionar...</option>
                {{#each creditAccounts}}
                <option>{{this}}</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Selecciona una categoría.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="firstName">Descpripción</label>
            <input type="text" class="form-control" name="description" placeholder="" value="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mb-3">
            <button class="btn btn-outline-success btn-lg btn-block" type="submit">Registrar Pago</button>
        </div>
        <div class="col-md-4 mb-3">
            <a class="btn btn-outline-secondary btn-lg btn-block" href="/">Ir a Dashboard</a>
        </div>
    </div>

</form>