<div class="alert alert-secondary" role="alert">
    <h4>Registro de Presupuestos</h4>
</div>

<form class="needs-validation" action="/budgets/create" method="POST" novalidate>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="firstName">Categoría</label>
            <input type="text" class="form-control" name="category" placeholder="" required>
            <div class="invalid-feedback">
                Selecciona una fecha.
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="firstName">Importe</label>
            <input type="text" class="form-control" name="amount" placeholder="" value="" required>
            <div class="invalid-feedback">
                Define el importe.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="country">Tipo</label>
            <input type="text" class="form-control" name="type" placeholder="" value="{{type}}" required>
            <div class="invalid-feedback">
                Selecciona una categoría.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <a class="btn btn-outline-secondary btn-lg btn-block" href="/">Ir a Dashboard</a>
        </div>
        <div class="col-md-6 mb-3">
            <button class="btn btn-outline-success btn-lg btn-block" type="submit">Registrar Categoría Presupuestal</button>
        </div>
    </div>


</form>